.contador{ 
    min-width: 300px;
    height: 300px;
    font-size: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    color: white;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 6px;
}